.container{
    background-image: url("../img/container-bg-green.jpg");
}
.logo:hover{
    color:#4ACE1E;
}
.mailto:hover, .tel:hover, .adv-link:hover {
    color:#4ACE1E;
}
.hide-color-bar:hover {
    background-image: url("../img/green-bottom.png");
}
.orange-green-btn{
    background-color: #4ACE1E;
}
