.container{
    background-image: url("../img/container-bg-orange.jpg");
}
.logo:hover{
    color:#F26522;
}
.mailto:hover, .tel:hover, .adv-link:hover {
    color:#F26522;
}
.hide-color-bar:hover {
    background-image: url("../img/orange-bottom.png");
}
.orange-green-btn{
    background-color: #F26522;
}